@page "/"
@inject HttpClient _HttpClient
<AuthorizeView>
    <NotAuthorized>
        <h1>Bienvenido!</h1>
        Inicia sesion o registrate para continuar.
    </NotAuthorized>
    <Authorized>
        @if (weekinprogress > 0)
        {
            @if (weekinprogress == 1)
            {

            }
            else if (weekinprogress == 2)
            {

            }
            else
            {
                <span>
                    en progreso...
                </span>
            }
        }
        else
        {
            <span>Dashboard</span>
        }
    </Authorized>
</AuthorizeView>
@code {
    public WeekDTO week { get; set; }
    int weekinprogress = 0;

    protected override async Task OnInitializedAsync()
    {
        await GetWeek();
    }

    private async Task GetWeek()
    {
        var resp = await _HttpClient.GetFromJsonAsync<WeekDTO>("/api/Weeks/current");
        if (resp != null)
        {
            week = resp;
            weekinprogress = week.Status;
        }
    }
}