@page "/"
@inject HttpClient _HttpClient
@inject AuthenticationStateProvider auth
<AuthorizeView>
    <NotAuthorized>
        <h1>Bienvenido!</h1>
        Inicia sesion o registrate para continuar.
    </NotAuthorized>
    <Authorized>
        @if (weekinprogress > 0)
        {
            @if (weekinprogress == 1)
            {
                <span>
                    Registro Abierto
                </span>
            }
            else if (weekinprogress == 2)
            {
                <span>
                    en progreso...
                </span>
            }
            else
            {
                <span>
                    Semana Finalizada
                </span>
            }
        }
        else
        {
            <span>Dashboard</span>
        }
    </Authorized>
</AuthorizeView>
@code {
    public WeekDTO week { get; set; }
    int weekinprogress = 0;

    protected override async Task OnInitializedAsync()
    {
        var authstate = await auth.GetAuthenticationStateAsync();
        var user = authstate.User;
        if(user.Identity.IsAuthenticated)await GetWeek();
    }

    private async Task GetWeek()
    { 
            var resp = await _HttpClient.GetFromJsonAsync<WeekDTO>("/api/Weeks/current");
            if (resp != null)
            {
                week = resp;
                weekinprogress = week.Status.Value;
            }
    }
}